<app-navbar></app-navbar>
<div class="body">
  <div class=" nombreSeccion">Publicaciones</div>
  <div class=" container">
    <mat-card class="card">
      <mat-card-header>
        <div class="card-imagen"></div>
        <mat-card-title>@nombreUser</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/img/publicacion-card-img.png"
        alt="Imagen de Timeline"
      />
      <mat-card-content>
        <p>
          Comparte tus logros y contenido. También podrás ver lo que otros
          usuarios han compartido.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
          <div class="col-md-2">
            <button class="fa-solid fa-heart"></button>
          </div>
          <div class="col-md-2">
            <button class="fa-solid fa-comment"></button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div class="card-imagen"></div>
        <mat-card-title>@nombreUser</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/img/publicacion-card-img.png"
        alt="Imagen de Timeline"
      />
      <mat-card-content>
        <p>
          Comparte tus logros y contenido. También podrás ver lo que otros
          usuarios han compartido.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
          <div class="col-md-2">
            <button class="fa-solid fa-heart"></button>
          </div>
          <div class="col-md-2">
            <button class="fa-solid fa-comment"></button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div class="card-imagen"></div>
        <mat-card-title>@nombreUser</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/img/publicacion-card-img.png"
        alt="Imagen de Timeline"
      />
      <mat-card-content>
        <p>
          Comparte tus logros y contenido. También podrás ver lo que otros
          usuarios han compartido.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
          <div class="col-md-2" id="like">
            <button class="fa-solid fa-heart"></button>
          </div>
          <div class="col-md-2" id="comment">
            <button class="fa-solid fa-comment"></button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
