<app-navbar></app-navbar>
<div class="body">
  <div
  class="row"
  style="
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  "
>
  <div class="col-md-2" style="align-content: center">
    <div
      class="fa-solid fa-house btn-home"
      routerLink="/home"
      mat-raised-button
      matTooltip="Volver a la pantalla principal"
      matTooltipPosition="above"
    ></div>
  </div>
  <div class="col-md-8 nombreSeccion">Publicaciones</div>
</div>
  <div class="row container">
    <div class="col-md-4 col-xl-3">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>Titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2">
              <button class="fa-solid fa-comment"></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-xl-3" style="padding: ">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2">
              <button class="fa-solid fa-comment"></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-xl-3">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2" id="like">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2" id="comment">
              <button class="fa-solid fa-comment"></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
