<app-navbar></app-navbar>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col md-3">
        <mat-card class="card">
          <mat-card-header>
            <div class="card-imagen"></div>
            <mat-card-title>Publicaciones</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/img/publicacion-card-img.png"
            alt="Imagen de Timeline"
          />
          <mat-card-content>
            <p>
              Comparte tus logros. También podrás ver lo que otros usuarios han
              compartido.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="row w-100">
              <div class="col-md-12">
                <button mat-button routerLink="/timeline" class="w-100">
                  Entrar
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col md-3">
        <mat-card class="card">
          <mat-card-header>
            <div class="card-imagen"></div>
            <mat-card-title>Partidas</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/img/partidas-card-img.jpeg"
            alt="Imagen de partida"
          />
          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                Crea nuevas partidas con otros usuarios de HammerLand.
                ¡Desafíalos y que gane el mejor!
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="row w-100">
              <div class="col-md-12">
                <button mat-button routerLink="/tournaments" class="w-100">
                  Entrar
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col md-3">
        <mat-card class="card">
          <mat-card-header>
            <div class="card-imagen"></div>
            <mat-card-title>Market</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/img/market-card-img.jpg"
            alt="Imagen de  market"
          />
          <mat-card-content>
            <p>
              Anuncia tus artículos y compra productos de otros usuarios de la
              aplicación.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="row w-100">
              <div class="col-md-12">
                <button mat-button routerLink="/market" class="w-100">
                  Entrar
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col md-3">
        <mat-card class="card">
          <mat-card-header>
            <div class="card-imagen"></div>
            <mat-card-title>Mensajes</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/img/mensajes-card-img.png"
            alt="Imagen de chat"
          />
          <mat-card-content>
            <p>
              Comunícate con el resto de usuarios a través de nuestro servicio
              de mensajeria privada.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="row w-100">
              <div class="col-md-12">
                <button mat-button routerLink="/messages" class="w-100">
                  Entrar
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
