<div class="body">
    <div class="contenido">
      <div class="tittle">
        <span class="tittle2">HammerLand</span>
      </div>
  
      <div class="text">
        <div class="subtext">
          El lugar donde podrás <span style="color:#FAE8AF">encontrar</span><br>
          otros jugadores y <span style="color:#FAE8AF">compartir</span><br>
          tu contenido.
        </div>
          <div class="subtext">
            Empieza ya a descubrir lo que te<br>
            espera en <span style="color:#FAE8AF">HammerLand</span>
          </div>
        </div>
      </div>
      <div class="formulario">
        <div class="formContainer"><span class="titleForm">Iniciar sesión</span>
          <form action="" method="POST" class="loginForm" id="formLog">
            <div class="row formFields">
              <div class="col-md-12">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="Username" required>
              </div>
            </div>
            <div class="row formFields">
              <div class="col-md-12">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password" required>
              </div>
            </div>
            <button type="" value="Entrar" routerLink="/home">Entrar</button>
            <div class="question">¿Aún no tienes cuenta?<br>
             <a href="/register 
             "><span style="color:#FAE8AF">Únete desde aquí</span></a> 
            </div>
          </form>
        </div>
      </div>
    </div>