<app-navbar></app-navbar>
<div class="body">
  <div class="row header">
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Publicaciones</div>
  </div>
  <div class="row mt-4">
    <button
      mat-raised-button
     style="padding:0.2rem 0.5rem!important;"
      class="fa-solid fa-plus addMatch"
      (click)="openAddPubModal()"
      [textContent]="' Nueva Publicacion'"
    ></button>
    <div class="col-md-7 checkgroup-position">
      <mat-radio-group
        [(ngModel)]="selectedOption"
        (change)="onOptionChange()"
      >
        <mat-radio-button value="1" checked style="margin-right:10px"
          >Todas las publicaciones</mat-radio-button>
        <mat-radio-button value="2">Tus publicaciones </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row container">
    <div class="cards-container">
      <mat-card class="card" *ngFor="let pub of publications">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>{{pub.user}}</mat-card-title>
        </mat-card-header>
        <img class="card-image"
          mat-card-image
          [src]="pub?.archivo_publicacion"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>{{pub.texto_publicacion}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
              <button class="deletePubButton" 
                mat-icon-button
                color="warn"
                matTooltip="Eliminar partida"
                matTooltipPosition="right"
                *ngIf="selectedOption === '2'"
                (click)="deletePub(pub._id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #addGameModal>
  <div mat-dialog-title>
    Detalles publicación
    <button
      mat-icon-button
      class="close-btn"
      style="float: right"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <div>
      <div class="row" style="padding: 0.5rem 1rem; height: 23rem">
        <div
          class="col-md-5"
          style="
            background-color: rgb(240, 240, 240);
            border-radius: 1rem 0 0 1rem;
          "
        >
          <div class="row" style="padding: 1rem 1rem 0; font-size: 1.25rem">
            Titulo publicacion
          </div>
          <div class="row" style="padding: 0.5rem 1rem">@usuario</div>
          <div class="row" style="padding: 0.5rem 1rem 1rem">
            <div class="col-md-12">
              <img
                src="../../../assets/img/publicacion-card-img.jpg"
                style="border-radius: 10px"
              />
            </div>
          </div>
        </div>
        <div
          class="col-md-7"
          style="background-color: #edc84e; border-radius: 0 1rem 1rem 0"
        >
          <div class="row" style="padding: 0.5rem 1rem">
            <div
              _ngcontent-qro-c116=""
              class="row"
              style="padding: 0.5rem 1rem; font-size: 1.25rem"
            >
              Comentarios
            </div>
            <div style="background-color: #e3dbc3; border-radius: 10px">
              <div class="row">
                <div
                  class="col-md-12"
                  style="padding: 0.5rem 0.5rem !important"
                >
                  Nombre usuario
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0.5rem 0.5rem !important; font-size: 0.8rem"
                >
                  Aqui hay que visualizar los comentarios de los demas usuarios
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button
                  style="
                    font-weight: 500;
                    padding: 1rem !important;
                    width: 100%;
                  "
                  [textContent]="'Comentar'"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addPub>
  <div mat-dialog-title>
    <div mat-dialog-title>
      Crear nueva publicación
      <button
        mat-icon-button
        class="close-btn"
        style="float: right"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-body" [formGroup]="createPubForm">
    <div class="mb-3">
      <label for="texto_publicacion" class="form-label">Descripcion:</label>
      <textarea
        formControlName="texto_publicacion"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="archivo_publicacion" class="form-label"
        >Elige la imagen para tu publicación:</label
      >
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        formControlName="archivo_publicacion"
        #fileInput
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-flat-button
      color="primary"
      class="btn-cancelar"
      mat-dialog-close
    >
      Cancelar
    </button>
    <button
      type="button"
      mat-flat-button
      class="btn-create"
      color="primary"
      (click)="createPub()"
      [disabled]="!createPubForm.valid"
      matTooltip="{{
        !createPubForm.valid ? 'Debe completar todos los campos' : ''
      }}"
      matTooltipPosition="below"
    >
      Crear publicación
    </button>
  </div>

</ng-template>