<app-navbar></app-navbar>
<div class="body">
  <div class="row header">
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Publicaciones</div>
  </div>
  <div class="row">
    <button
      mat-raised-button
     
      class="fa-solid fa-envelope addMsg"
      (click)="openAddPubModal()"
      [textContent]="'Nueva partida'"
    ></button>
  </div>
  <div class="row container">
    <div class="col-md-4 col-xl-3">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2">
              <button
                class="fa-solid fa-comment"
                (click)="openCommentModal(addCommentMod)"
              ></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-xl-3">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2">
              <button
                class="fa-solid fa-comment"
                (click)="openCommentModal(addCommentMod)"
              ></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 col-xl-3">
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>@nombreUser</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/img/publicacion-card-img.png"
          alt="Imagen de Timeline"
        />
        <mat-card-content>
          <p>titulo de la foto</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row d-flex w-100" style="padding-left: 1rem; gap: 1.5rem">
            <div class="col-md-2" id="like">
              <button class="fa-solid fa-heart"></button>
            </div>
            <div class="col-md-2" id="comment">
              <button
                class="fa-solid fa-comment"
                (click)="openCommentModal(addCommentMod)"
              ></button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #addGameModal>
  <div mat-dialog-title>
    Detalles publicación
    <button
      mat-icon-button
      class="close-btn"
      style="float: right"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <div>
      <div class="row" style="padding: 0.5rem 1rem; height: 23rem">
        <div
          class="col-md-5"
          style="
            background-color: rgb(240, 240, 240);
            border-radius: 1rem 0 0 1rem;
          "
        >
          <div class="row" style="padding: 1rem 1rem 0; font-size: 1.25rem">
            Titulo publicacion
          </div>
          <div class="row" style="padding: 0.5rem 1rem">@usuario</div>
          <div class="row" style="padding: 0.5rem 1rem 1rem">
            <div class="col-md-12">
              <img
                src="../../../assets/img/publicacion-card-img.jpg"
                style="border-radius: 10px"
              />
            </div>
          </div>
        </div>
        <div
          class="col-md-7"
          style="background-color: #edc84e; border-radius: 0 1rem 1rem 0"
        >
          <div class="row" style="padding: 0.5rem 1rem">
            <div
              _ngcontent-qro-c116=""
              class="row"
              style="padding: 0.5rem 1rem; font-size: 1.25rem"
            >
              Comentarios
            </div>
            <div style="background-color: #e3dbc3; border-radius: 10px">
              <div class="row">
                <div
                  class="col-md-12"
                  style="padding: 0.5rem 0.5rem !important"
                >
                  Nombre usuario
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0.5rem 0.5rem !important; font-size: 0.8rem"
                >
                  Aqui hay que visualizar los comentarios de los demas usuarios
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button
                  style="
                    font-weight: 500;
                    padding: 1rem !important;
                    width: 100%;
                  "
                  [textContent]="'Comentar'"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addPub>
  <div mat-dialog-title>
    <div mat-dialog-title>
      Crear nueva publicación
      <button
        mat-icon-button
        class="close-btn"
        style="float: right"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div [formGroup]="createPubForm">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-md-12">
          <label for="texto_publicacion">Descripcion: </label>
          <input formControlName="texto_publicacion" />
        </div>
        <div
          class="col-md-12 mt-4"
          style="display: flex; flex-direction: column"
        >
          <label for="texto_publicacion"
            >Elige la imagen para tu publicación
          </label>
          <input formControlName="archivo_publicacion" #fileInput type="file" />
        </div>
      </div>
    </div>
    <div mat-dialog-action>
      <div class="row w-100" style="justify-content: center">
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-stroked-button
            color="primary"
            mat-dialog-close
            [textContent]="'Cancelar'"
          ></button>
        </div>
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-flat-button
            color="primary"
            (click)="createPub()"
            [textContent]="'Crear publicación'"
            [disabled]="!createPubForm.valid"
            matTooltip="{{
              !createPubForm.valid ? 'Debe completar todos los campos' : ''
            }} "
            matTooltipPosition="below"
          ></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
