.body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;  
  background-color: #131a29;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border-radius: 10px;
  display: flex;
  margin: 5rem;
  justify-content: center;
}

.card {
  color: black;
  padding-bottom: 5%;
  border-radius: 20px;
  background-color: rgba(239, 239, 239, 0.674);
}

.btn-home {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  width: fit-content;
  border-radius: 50%;
}
.btn-home:hover {
  background-color: #ebc752;
  color: #000000;
}


/*medidas responsives de las tarjetas*/

/* portatil */
@media screen and (max-width: 1300px) {
  .card {
    
    height: 25rem;
  }
  .nombreSeccion {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    
  }
 
img {
  width: 100%;
  height: 200px;
  margin: 1px;
  
}
}

/* pantalla grande */
@media screen and (min-width: 1300px) {
 .container{
  gap:1rem;
 }
  .card {
   display: flex;
    width: 18rem;
    height: 26rem;
  }
  .nombreSeccion {
    font-size: 4rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 200px;
    
    margin: 1px;
    
  }
 
}

.mat-card-title {
  font-weight: 400;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  box-shadow: 4px 5px 6px 0px rgba(19, 26, 41, 0.5);
  cursor: pointer;
  background-color: #131a29;
}

.close-btn{
  background-color: #ffffff;
  color: #131a29;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}
.col-md-2:first-child button:hover {
  color: #e90000;
  font-weight: 600;
  background-color: #131a29;
}


.col-md-2:last-child button:hover {
  color: #aceaed;
  font-weight: 600;
  background-color: #131a29;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card > .mat-card-actions:last-child .card {
  align-self: flex-end;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-start;
}
.mat-card-content {
  padding: 0.4rem;
  margin-top: 0.5rem;
}
