@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;  
  background-color: #131a29;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header{
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.btn-home {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  width: fit-content;
  border-radius: 50%;
}
.btn-home:hover {
  background-color: #ebc752;
  color: #000000;
}
.mat-icon {
  background-color: none;
}
.mat-flat-button:hover {
  background-color: #29357f;
}

mat-icon {
  background-color: none;
}
.mat-stroked-button {
  border: none;
}


.fa-reply::before,
.fa-trash::before,
.fa-envelope::before {
  margin-right: 1rem;
}
.no-messages{
  margin-top: 4rem;
  font-size: 1.5rem;
color: #eeeeee;
}
.sendMesage{
  box-shadow: none;
}
.addMsg{
  background-color: #c8daff94!important;
  color: #ffffff!important;
  box-shadow: none!important;
}
.mat-raised-button {
  padding: 0.2rem 1rem;

  box-shadow: 3px 4px 5px 0px #8d8e93;
  color: #131a29;
  background-color: #e7c659;
  width: fit-content;
  &:hover {
    background-color: #ddb120;
  }
}
button mat-raised-button i {
  margin-right: 18px; 
}

mat-form-field {
  background-color: #eeeeee;
  border-radius: 0.5rem;
}
.btnDelete {
  background-color: rgb(199, 59, 59);

  color: #ffffff;
  &:hover {
    background-color: rgb(190, 10, 10);
  }
}
mat-radio-group {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  color: #000000;
  font-size: 1.1rem;
}
/* Portátil */
@media screen and (max-width: 1600px) {
  .body{
    min-height: 100%;
    height: fit-content;
    padding-bottom: 1rem;
  }
  .nombreSeccion {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    width: fit-content;
  }
  .mat-raised-button {
    font-size: 12px;
  }
  .header{
    margin-top: 2rem;
  }
}
/* Pantalla grande */
@media screen and (min-width: 1601px) {
  .contenedor {
    width: 70%;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 2rem;
  }

  mat-dialog-container {
    border-radius: 2rem;
  }

  .nombreSeccion {
    font-size: 4rem;
    width: fit-content;
    display: flex;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
