<app-navbar></app-navbar>
<div class="body">
  <div
    class="row header"

  >
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Bandeja de mensajes</div>
  </div>

  <div class="row w-100 mt-4" style="justify-content: space-around;">
    <div class="col-md-7" style="width: fit-content;;background-color: #c8daff94;border-radius: 0.3rem;align-content: center; padding: 0.7rem 2rem; display: flex;justify-content: start;">
      <mat-radio-group
        [(ngModel)]="selectedOption"
        (change)="onOptionChange()"
      >
        <mat-radio-button value="1" checked
          >Recibidos</mat-radio-button
        >
        <mat-radio-button value="2">Enviados</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-5" style="    display: flex;
    justify-content: flex-end;padding-right: 0!important;">
    <button
      mat-raised-button
      (click)="openCreateModal(element)"
     class="fa-solid fa-envelope addMsg" 
     
      
      [textContent]="'Nuevo mensaje'"
    ></button>
  </div>
  </div>
  <div *ngFor="let message of messages" class="row w-100 mt-2" style="justify-content: center; ">
    <div class="col-md-10 col-xs-12" style="background-color: hsla(0, 0%, 86%, 0.993); border-radius: 0.5rem; display: flex; justify-content: center; padding: 0.5rem;">
      <div class="row w-100" style="padding: 0.5rem; background-color: hsla(0, 0%, 98%, 0.993); justify-content: center; flex-direction: column; border-radius: 0.5rem;">
        <div class="col-md-2" style="font-weight: 600">{{ message.emitter }}</div>
        <div class="col-md-10 mt-2" style="padding: 0 2rem">{{ message.body }}</div> <!-- Changed texto_mensaje to body -->
        <div class="col-md-12" style="display: flex; justify-content: flex-end; gap: 1.5rem;">
          <button
            mat-raised-button
            (click)="openDeleteModal(deleteModal)"
            class="fa-solid fa-trash btnDelete"
            color="primary"
            [textContent]="'Eliminar'"
          ></button>
          <button
            mat-raised-button
            color="primary"
            class="fa-solid fa-reply"
            (click)="openReplyModal(replyMod)"
          >
            <span>Responder</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<ng-template #deleteModal>
  <div mat-dialog-title>
    <!--  -->
    Eliminar mensaje
    <button mat-icon-button style="float: right">
      <mat-icon  mat-dialog-close>close</mat-icon>
    </button>
  </div>
  <div
    mat-dialog-content
    style="display: flex; justify-content: center; margin-top: 2rem"
  >
    <div class="row">
      <div class="col-md-12">
        ¿Deseas eliminar el mensaje de
        <span style="font-weight: 600"> @nombre? </span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center">
    <div class="row w-100" style="justify-content: center; padding-top: 2rem">
      <div class="col-md-6 d-flex justify-content-center w-auto">
        <button mat-stroked-button color="primary"  mat-dialog-close>
          Cancelar
        </button>
      </div>
      <div class="col-md-6 d-flex justify-content-center w-auto">
        <button
          mat-flat-button
          color="primary"
          (click)="openConfirmDeleteMod(confirmDeleteMod)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- TODO ngIF para determinar tipo de mensaje,
crear booleano y cambiar el valor en el .then  -->
<ng-template #replyMod>
  <div mat-dialog-title>
    Responder mensaje
    <button mat-icon-button style="float: right"  mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="messageForm">
    <div mat-dialog-content style="margin-top: 2rem">
      <div class="row" style="padding: 0 2rem">
        <div class="col-md-12">
          <mat-form-field class="example-form-field w-100" appearance="fill">
            <mat-label>Enviar a:</mat-label>
            <input matInput type="text" formControlName="receiver" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" style="padding: 0 2rem">
        <div class="col-md-12">
          <mat-form-field
            style="width: 100%; height: fit-content; padding: 0 0.5rem"
          >
            <mat-label>Escribe tu mensaje</mat-label>
            <textarea
              matInput
              formControlName="msgBody"
              style="height: 4rem"
              appErrorMessage="Debe rellenar este campo"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div
      mat-dialog-actions
      style="display: flex; justify-content: center; padding-top: 2rem"
    >
      <div class="row w-100" style="justify-content: center">
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-stroked-button
            color="primary"
            mat-dialog-close
            [textContent]="'Cancelar'"
          ></button>
        </div>
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-flat-button
            color="primary"
            [textContent]="'Enviar mensaje'"
            [disabled]="!messageForm.valid"
            matTooltip="{{
              !messageForm.valid ? 'Debe completar todos los campos' : ''
            }} "
            matTooltipPosition="below"
            (click)="openConfirmReplyMod(confirmReplyMod)"
          ></button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #createModal>
  <div mat-dialog-title >
   Crear nuevo mensaje
    <button mat-icon-button style="float: right"  mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="newMsgForm">
    <div mat-dialog-content style="margin-top: 2rem">
      <div class="row" style="padding: 0 2rem">
        <div class="col-md-12">
          <mat-form-field class="example-form-field w-100" appearance="fill">
            <mat-label>Enviar a:</mat-label>
            <input matInput type="text" formControlName="receiver" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" style="padding: 0 2rem">
        <div class="col-md-12">
          <mat-form-field
            style="width: 100%; height: fit-content; padding: 0 0.5rem"
          >
            <mat-label>Escribe tu mensaje</mat-label>
            <textarea
              matInput
              formControlName="msgBody"
              style="height: 4rem"
              appErrorMessage="Debe rellenar este campo"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div
      mat-dialog-actions
      style="display: flex; justify-content: center; padding-top: 2rem"
    >
      <div class="row w-100" style="justify-content: center">
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-stroked-button
            color="primary"
            mat-dialog-close
            [textContent]="'Cancelar'"
          ></button>
        </div>
        <div class="col-md-6 d-flex justify-content-center w-auto">
          <button
            mat-flat-button
            color="primary"
            [textContent]="'Enviar mensaje'"
            [disabled]="!newMsgForm.valid"
           
            (click)="sendMessage()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- TODO ngIF para determinar tipo de mensaje,
crear booleano y cambiar el valor en el .then  -->
<ng-template #confirmDeleteMod>
  <div mat-dialog-title>
    Confirmación mensaje enviado
    <button mat-icon-button style="float: right">
      <mat-icon  mat-dialog-close>close</mat-icon>
    </button>
  </div>
  <div
    mat-dialog-content
    style="
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      height: 11rem;

      flex-direction: column;
      align-items: center;
    "
  >
    <img
      src="../../assets/img/error-process.jpg"
      style="width: 9rem; height: 9rem"
    />
    <!-- <img src="../../assets/img/success.jpg" style="width: 9rem; height: 9rem; "> -->
    <div class="row">
      <div
        class="col-md-12"
        style="
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          color: red;
        "
      >
        Error al eliminar el mensaje
      </div>
      <!-- <div class="col-md-12" style="display: flex; align-items: center;">
      Mensaje eliminado correctamente
    </div> -->
    </div>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center">
    <div class="row w-100" style="padding-top: 2rem; justify-content: center">
      <div class="col-md-6 d-flex justify-content-center">
        <button
          mat-flat-button
          color="primary"
          mat-dialog-close
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmSendMod>
  <div mat-dialog-title>
    Confirmación mensaje enviado
    <button mat-icon-button style="float: right">
      <mat-icon  mat-dialog-close>close</mat-icon>
    </button>
  </div>
  <div
    mat-dialog-content
    style="
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      height: 11rem;

      flex-direction: column;
      align-items: center;
    "
  >
    <!-- <img
      src="../../assets/img/error-process.jpg"
      style="width: 9rem; height: 9rem"
    /> -->
    <img src="../../assets/img/success.jpg" style="width: 9rem; height: 9rem" />
    <div class="row">
      <!-- <div
        class="col-md-12"
        style="
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          color: red;
        "
      >
        Error al enviar el mensaje
      </div> -->
      <div class="col-md-12" style="display: flex; align-items: center">
        Tu mensaje ha sido enviado correctamente.
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center">
    <div class="row w-100" style="padding-top: 2rem; justify-content: center">
      <div class="col-md-6 d-flex justify-content-center">
        <button
          mat-flat-button
          color="primary"
          mat-dialog-close
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #confirmReplyMod>
  <div mat-dialog-title>
    Confirmación mensaje eliminado
    <button mat-icon-button style="float: right">
      <mat-icon  mat-dialog-close>close</mat-icon>
    </button>
  </div>
  <div
    mat-dialog-content
    style="
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      height: 11rem;

      flex-direction: column;
      align-items: center;
    "
  >
    <!-- <img
      src="../../assets/img/error-process.jpg"
      style="width: 9rem; height: 9rem"
    /> -->
    <img src="../../assets/img/success.jpg" style="width: 9rem; height: 9rem" />
    <div class="row">
      <!-- <div
        class="col-md-12"
        style="
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          color: red;
        "
      >
        Error al enviar el mensaje
      </div> -->
      <div class="col-md-12" style="display: flex; align-items: center">
        Mensaje enviado correctamente
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center">
    <div class="row w-100" style="padding-top: 2rem; justify-content: center">
      <div class="col-md-6 d-flex justify-content-center">
        <button
          mat-flat-button
          color="primary"
          mat-dialog-close
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</ng-template>
