<app-navbar></app-navbar>
<div class="body">
    <div >
  <div
    class="row"
    style="
        justify-content: center;
      flex-direction: row;
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-top: 2rem;
    "
  >
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Market</div>
  </div>
  <div class="row w-100 mt-4" style="justify-content: center">
    <div
      class="col-md-8 col-xs-12"
      style="
        background-color: hsla(0, 0%, 86%, 0.993);
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
      "
    >

      <div class="row ">
        <div class="col-md-4 col-xl-3">
          <mat-card class="card">
            <img
              mat-card-image
              src="../../assets/img/partidas-card-img.jpeg"
              alt="Imagen de partida"
            />
            <mat-card-content>
              <div class="row">
                <div class="col-md-7">
                    Trooper 40k 
                </div>
                <div class="col-md-5">
                  42.99 €
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row w-100">
                <div class="col-md-6">
                  <button mat-button  class="w-100">
                    <span  style="color: #243b7c!important;font-weight: 600"> Añadir</span>
                  </button>
                </div>
                <div class="col-md-6">
                  <button mat-button class="w-100">
                    <span  style="color: #c446cf!important; font-weight: 600;"> + Info</span>
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4 col-xl-3">
          <mat-card class="card">
            <img
              mat-card-image
              src="../../assets/img/partidas-card-img.jpeg"
              alt="Imagen de partida"
            />
            <mat-card-content>
              <div class="row">
                <div class="col-md-7">
                  Trooper 40k 
              </div>
              <div class="col-md-5">
                42.99 €
              </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row w-100">
                <div class="col-md-6">
                  <button mat-button  class="w-100">
                    <span  style="color: #243b7c!important;font-weight: 600"> Añadir</span>
                  </button>
                </div>
                <div class="col-md-6">
                  <button mat-button class="w-100">
                    <span  style="color: #c446cf!important; font-weight: 600;"> + Info</span>
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4 col-xl-3">
          <mat-card class="card">
            <img
              mat-card-image
              src="../../assets/img/partidas-card-img.jpeg"
              alt="Imagen de partida"
            />
            <mat-card-content>
              <div class="row">
                <div class="col-md-7">
                  Trooper 40k 
              </div>
              <div class="col-md-5">
                42.99 €
              </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row w-100">
                <div class="col-md-6">
                  <button mat-button  class="w-100">
                    <span  style="color: #243b7c!important;font-weight: 600"> Añadir</span>
                  </button>
                </div>
                <div class="col-md-6">
                  <button mat-button class="w-100">
                    <span  style="color: #c446cf!important; font-weight: 600;"> + Info</span>
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        
        <div class="col-md-4 col-xl-3">
          <mat-card class="card">
            <img
              mat-card-image
              src="../../assets/img/partidas-card-img.jpeg"
              alt="Imagen de partida"
            />
            <mat-card-content>
              <div class="row">
                <div class="col-md-7">
                  Trooper 40k 
              </div>
              <div class="col-md-5">
                42.99 €
              </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row w-100">
                <div class="col-md-6">
                  <button mat-button  class="w-100">
                    <span  style="color: #243b7c!important;font-weight: 600"> Añadir</span>
                  </button>
                </div>
                <div class="col-md-6">
                  <button mat-button class="w-100">
                    <span  style="color: #c446cf!important; font-weight: 600;"> + Info</span>
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
