.body{
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #131A29;
    display: flex;
    justify-content: center;
}

.container{
    border-radius: 10px;
    gap: 2rem;
    display: flex;
    margin: 6rem;
    justify-content: center;
}
.card{
height: fit-content;
padding-bottom: 3rem;
border-radius: 20px;
width: 14rem;
transition: transform 0.3s; 
}
.card:hover {
  transform: scale(1.1); 
}
img{
    width: 100%;
    height: 200px;
    margin: 1px;
    border-radius: 10px 10px 0 0 ;
}
button{
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    box-shadow: 4px 5px 6px 0px rgba(19, 26, 41, 0.5); 
    cursor: pointer;
    background-color:#131A29;
}

button:hover{
    color: #131A29;
    font-weight: 600;
    background-color: #ebc752;
}
.mat-card>.mat-card-actions:last-child
.card{
   display: flex;
   justify-content: end;
   margin-right: 0.4rem;
}
.mat-card-content{
    padding: 0.4rem;
}
