<div class="body">
<div class="container">
    <mat-card class="card">
        <mat-card-header>
          <div  class="card-imagen"></div>
          <mat-card-title>Publicaciones</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/publicacion-card-img.jpg" alt="Imagen de Timeline">
        <mat-card-content>
          <p>
            Comparte tus logros y contenido. También podrás ver lo que otros usuarios han compartido.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Entrar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>Partidas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/partidas-card-img.jpeg" alt="Imagen de partida">
        <mat-card-content>
          <p>
            Crea nuevas partidas con otros usuarios de HammerLand. ¡Desafíalos y que gane el mejor!          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Entrar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>Market</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/market-card-img.jpg" alt="Imagen de  market">
        <mat-card-content>
          <p>
            Anuncia tus artículos y compra
            productos de otros usuarios de la aplicación.           </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Entrar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <div class="card-imagen"></div>
          <mat-card-title>Mensajes</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/mensajes-card-img.png" alt="Imagen de chat">
        <mat-card-content>
          <p>
            Comunícate con el resto de usuarios a través de nuestro servicio de mensajeria privada.     </p>
           
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Entrar</button>
        </mat-card-actions>
      </mat-card>
</div>

    
</div>