@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


.body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #131a29;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}


.btn-home {
  cursor: pointer;
  padding: 1rem;
  color:white;
  font-size: 2rem;
  width: fit-content;
  border-radius: 50%;
}

.btn-home:hover {
  background-color: #ebc752;
  color: black;
}

mat-radio-button {
  color: #131A29;
  font-size: 1.1rem;
}

table {
  background-color: #ffffffac;
  width: 100%;

}

th {
  font-weight: 600;
  font-size: 1rem;
}

.fa-plus::before {
  margin-right: 1rem;
}

.mat-stroked-button{
  border: none;
}

.mat-raised-button {
  padding: 0.5rem 1rem;
  background-color: #383f64;
  width: fit-content;
  &:hover {
    background-color: #131a41;
  }
}



.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 0.75rem;
}

mat-radio-group {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.mat-stroked-button{
  border:none;
}
.mat-dialog-title{
  margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Portátil */
@media screen and (max-width: 1300px) {
  .contenedor {
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
   
  }

  .nombreSeccion {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
  }

  .mat-raised-button {
    padding: 0.5rem 1rem;
    width: fit-content; 
  }
}

/* Pantalla grande */
@media screen and (min-width: 1301px) {
  .contenedor {
    width: 70%;
   
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 2rem;
  }

  mat-dialog-container {
    border-radius: 2rem;
  }

  .nombreSeccion {
    font-size: 4rem;
    width: fit-content;
    display: flex;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
