<app-navbar></app-navbar>
<div class="body">
  <div class="row header">
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Partidas</div>
  </div>
  <div class="contenedor">
    <div class="row mt-2" style="width: 100%; justify-content: space-around">
      <div
        class="row"
        style="flex-direction: row; padding: 0 2rem 0 0; align-items: center"
      >
        <div class="col-md-7">
          <mat-radio-group
            [(ngModel)]="selectedOption"
            (change)="onOptionChange()"
          >
            <mat-radio-button value="1" checked
              >Partidas disponibles</mat-radio-button
            >
            <mat-radio-button value="2">Tus partidas</mat-radio-button>
          </mat-radio-group>
        </div>
        <div
          class="col-md-5"
          style="
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 0;
          "
        >
          <button
            mat-raised-button
            style="color: white; margin-right: 1rem"
            class="fa-solid fa-arrows-rotate"
            (click)="showMatches()"
            matTooltip="Volver a cargar las partidas"
            matTooltipPosition="above"
          ></button>
          <button
            mat-raised-button
            (click)="openAddGameModal(addGameModal)"
            class="fa-solid fa-plus"
            color="primary"
          >
            Crear partida
          </button>
        </div>
      </div>
    </div>

    <!-- la tabla tiene matSort para ordenar los resultados -->
    <div class="container">
      <div class="row mt-3" style="width: 100%; justify-content: center">
        <div class="col-md-12">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha partida
              </th>
              <td mat-cell *matCellDef="let match">
                {{ match.fecha_partida | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="maxScore">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Puntuación Máxima
              </th>
              <td mat-cell *matCellDef="let match">
                {{ match.puntuacion_maxima_partida }}
              </td>
            </ng-container>
            <ng-container matColumnDef="minScore">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Puntuación Mínima
              </th>
              <td mat-cell *matCellDef="let match">
                {{ match.puntuacion_minima_partida }}
              </td>
            </ng-container>
            <ng-container matColumnDef="creator">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Creador</th>
              <td mat-cell *matCellDef="let match">
                {{ match.creador_partida }}
              </td>
              <!--  -->
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let match">
                <button
                  mat-icon-button
                  style="font-size: 1.1rem; color: #383f64"
                  class="fa-solid fa-user-plus"
                  matTooltip="Unirse a la partida"
                  matTooltipPosition="above"
                  *ngIf="
                    selectedOption === '1' && match.creador_partida !== correo
                  "
                  (click)="openAddGameModal(match)"
                ></button>
                <button
                  mat-icon-button
                  style="font-size: 1.1rem; color: #383f64"
                  class="fa-solid fa-pen-to-square"
                  matTooltip="Modificar partida"
                  (click)="openModifyMatchModal(match)"
                  matTooltipPosition="above"
                  *ngIf="selectedOption === '2'"
                ></button>

                <button
                  mat-icon-button
                  color="warn"
                  matTooltip="Eliminar partida"
                  matTooltipPosition="above"
                  *ngIf="selectedOption === '2'"
                  (click)="deleteMatch(match._id)"
                
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let myRowData; columns: displayedColumns"
            ></tr>
            <!-- No hay partidas -->
            <ng-container
              *ngIf="!dataSource.data || dataSource.data.length === 0"
            >
              <tr>
                <td colspan="5" class="text-center">No hay partidas</td>
              </tr>
            </ng-container>
          </table>
          <mat-paginator
            [length]="100"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10]"
            aria-label="Select page"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal añadir partida -->
<ng-template #addGameModal>
  <div mat-dialog-title>
    <!--  -->
    Crear nueva partida
    <button mat-icon-button style="float: right">
      <mat-icon (click)="closeModal()">close</mat-icon>
    </button>
  </div>
  <form [formGroup]="addGameForm">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-md-10"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Puntuación máxima</mat-label>
            <input matInput type="number" formControlName="puntMax" />
          </mat-form-field>
        </div>
        <div class="col-md-6" style="padding-right: 0!important;">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Puntuación mínima</mat-label>
            <input matInput type="number" formControlName="puntMin" />
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="justify-content: center">
        <div class="col-md-12" style="display: flex; justify-content: center">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Elige la fecha de la partida</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="row w-100 mt-5" style="gap: 1rem; justify-content: center">
        <div class="col-md-3">
          <button mat-stroked-button color="primary" (click)="closeModal()">
            Cancelar
          </button>
        </div>
        <div class="col-md-3">
          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
            type="submit"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #modifyMatchMod>
  <div mat-dialog-title>
    Modificar partida
    <button mat-icon-button style="float: right" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="modifyMatchForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Puntuación máxima</mat-label>
            <input matInput type="number" formControlName="puntMax" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Puntuación mínima</mat-label>
            <input matInput type="number" formControlName="puntMin" />
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="justify-content: center">
        <div class="col-md-12" style="display: flex; justify-content: center">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Elige la fecha de la partida</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="row w-100 mt-5" style="gap: 1rem; justify-content: center">
        <div class="col-md-3">
          <button mat-stroked-button 
          color="primary" 
          type="button" 
          (click)="closeModal()"
          style="color:red"
          >
            Cancelar
          </button>
        </div>
        <div class="col-md-3">
          <button mat-flat-button color="primary" style="background-color: #640b80;" type="button" (click)="modifyMatch(detailData._id)">
            Modificar
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #deleteMatchMod>
  <div mat-dialog-title> 
    Se necesita confirmación para continuar
        <button mat-icon-button style="float: right">
          <mat-icon mat-dialog-close>close</mat-icon>
        </button>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        ¿Desea eliminar la cuenta definitivamente?
      </div>
    </div>
  </div>
  <div mat-dialog-actions></div>
  <div class="row w-100 mt-5" style="gap: 1rem; justify-content: center">
    <div class="col-md-3">
      <button mat-stroked-button color="primary" mat-dialog-close>
        Cancelar
      </button>
    </div>
    <div class="col-md-3">
      <button mat-flat-button color="primary" type="submit" >
        Eliminar
      </button>
    </div>
  </div>
  </ng-template>