<app-navbar></app-navbar>

<div class="body">
  <div class="row header">
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Perfil de usuario</div>
  </div>

  <div
    class="row mt-4"
    style="justify-content: center; width: 60rem; gap: 2rem"
  >
    <div
      class="col-md-10 col-xs-12"
      [ngClass]="showInfo ? 'contenedor' : 'contenedor-update'"
    >
      <div class="row w-100">
        <div
          class="col-md-5 col-xs-12 mt-4"
          style="
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
          "
        >
          <div>
            <img
              src="../../../assets/img/MicrosoftTeams-image.png"
              alt="Imagen de usuario"
            />
          </div>
          <div class="mt-2">
            <button
              class="btn-change-img"
              type="button"
              mat-raised-button
              [ngClass]="showInfo ? 'btn-change-img ' : 'btn-update-info'"
              (click)="fileInput.click()"
              [textContent]="'Cambiar imagen de perfil'"
            ></button>
            <input
              hidden
              (change)="onFileSelected($event)"
              #fileInput
              type="file"
            />
          </div>
        </div>
        <div class="col-md-7 col-xs-12 mt-4" *ngIf="showInfo">
          <div [formGroup]="userForm">
            <div class="row mt-2">
              <div class="col-md-3">
                <label class="user-detail-label">Nombre:</label>
              </div>
              <div class="col-md-9">
                <span class="user-detail-value input-style">{{ userData?.nombre_usuario }}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <label class="user-detail-label">Apellidos:</label>
              </div>
              <div class="col-md-9">
                <span class="user-detail-value input-style">{{ userData?.apellido_usuario }}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <label class="user-detail-label">Nickname:</label>
              </div>
              <div class="col-md-9">
                <span class="user-detail-value input-style">{{ userData?.nickname_usuario }}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <label class="user-detail-label">Correo:</label>
              </div>
              <div class="col-md-9">
                <span class="user-detail-value input-style">{{ userData?.email_usuario }}</span>
              </div>
            </div>
            <!-- <div class="row mt-2">
              <div class="col-md-3">
                <span class="user-detail-label">Número de teléfono:</span>
              </div>
              <div class="col-md-9">
                <span class="user-detail-value">{{ userData?.tlf_usuario }}</span>
              </div>
            </div> -->
          </div>
          
          <div class="row mt-5">
            <div class="col-md-12" style="padding-left: 0 !important">
              <button mat-raised-button class="btn-edit-info" (click)="editInfo()" type="submit" [textContent]="'Editar datos'"></button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" style="padding-left: 0 !important">
              <button mat-raised-button class="btn-delete" (click)="openConfirmDelete()" type="submit" [textContent]="'Eliminar cuenta'"></button>
            </div>
          </div>
        </div>
        
        
        <div class="col-md-7 col-xs-12 mt-4" *ngIf="!showInfo">
          <div [formGroup]="editForm">
            <div class="row mt-2">
              <div class="col-md-3 align-content-center">
                <label>Nombre:</label>
              </div>
              <div class="col-md-9">
                <input type="text" formControlName="name" class="mat-input w-100" style="border-radius: 0.5rem;border: 1px solid #976ea3; padding:0.3rem" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 align-content-center">
                <label>Apellidos:</label>
              </div>
              <div class="col-md-9">
                <input type="text" formControlName="surname" class="mat-input w-100" style="border-radius: 0.5rem;border: 1px solid #976ea3; padding:0.3rem" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 align-content-center">
                <label>Nickname:</label>
              </div>
              <div class="col-md-9">
                <input type="text" formControlName="nickname" class="mat-input w-100" style="border-radius: 0.5rem;border: 1px solid #976ea3; padding:0.3rem" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 align-content-center" >
                <label>Correo:</label>
              </div>
              <div class="col-md-9">
                <input type="text" formControlName="email" class="mat-input w-100" style="border-radius: 0.5rem;border: 1px solid #976ea3; padding:0.3rem" />
              </div>
            </div>
            <!-- <div class="row mt-2">
              <div class="col-md-3">
                <label>Número de teléfono:</label>
              </div>
              <div class="col-md-9">
                <input type="text" formControlName="phone" class="mat-input" style="border-radius: 0.5rem;" />
              </div>
            </div> -->
            <div class="row mt-5">
           
              <div class="col-md-12" style="padding-left: 0 !important">
                <button mat-raised-button class="btn-update-info" (click)="updateUserData()" type="submit" [textContent]="'Actualizar datos'" (click)="showInfo = true"></button>
              </div>
    
              <div class="col-md-12 mt-3" style="padding-left: 0 !important">
                <button mat-raised-button class="btn-cancel" (click)="editInfo()" type="submit" [textContent]="'Cancelar'" (click)="showInfo = true"></button>
              
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>


<ng-template #deleteUserMod>
<div mat-dialog-title> 
  Se necesita confirmación para continuar
      <button mat-icon-button style="float: right">
        <mat-icon mat-dialog-close>close</mat-icon>
      </button>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      ¿Desea eliminar la cuenta definitivamente?
    </div>
  </div>
</div>
<div mat-dialog-actions></div>
<div class="row w-100 mt-5" style="gap: 1rem; justify-content: center">
  <div class="col-md-3">
    <button mat-stroked-button color="primary" mat-dialog-close>
      Cancelar
    </button>
  </div>
  <div class="col-md-3">
    <button mat-flat-button color="primary" type="submit" (click)="deleteUser()">
      ELIMINAR
    </button>
  </div>
</div>
</ng-template>