@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #131a29;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}



.gray-span {
  padding: 0.6rem;
  border-radius: 0.5rem;
  width: 30rem;
  background-color: #f5cf53;
}


.contenedor{
  background-color: hsla(0, 0%, 86%, 0.993);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0rem 3rem 2rem 0rem;

}

.contenedor-update{
  background-color: hsla(0, 0%, 86%, 0.993);
  border: 10px solid #640b80;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0rem 3rem 2rem 0rem;
}

img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}


/*estilos para botones*/
.btn-home {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  width: fit-content;
  border-radius: 50%;
}
.btn-home:hover {
  background-color: #ebc752;
  color: #000000;
}


 .btn-change-img {
  background-color: #ffffff;
  &:hover {
    background-color: #ebc752;
  }
}


.btn-edit-info {
  background-color: #394357;
  color: #ffffff;
  &:hover {
    background-color: #131a29;
  }
}

.btn-update-info {
  background-color: #640b80;
  color: #ffffff;
  &:hover {
    background-color: #47035b;
  }
}

.btn-delete {
  width: 30rem;
  background-color: rgb(207, 48, 48);
  color: white;
  &:hover{
    background-color: rgb(201, 7, 0);
  }
}
.btn-cancel {
  width: 30rem;
  background-color: #756b79;
  color: white;
  &:hover{
    background-color:rgb(183, 51, 47);
  }
}

.example-form-field {
  padding-left: 0 !important;
}


.mat-raised-button{
  width:100%
}

/* Portátil */
@media screen and (max-width: 1300px) {

  .body{
    height: 45rem;
  }
  .nombreSeccion {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    width: fit-content;
  }
  .header{
    margin-top: 2rem;
  }

  .contenedor-update {
    width: 90%;
    padding: 0rem 3rem 2rem 0rem;
  }
}

/* Pantalla grande */
@media screen and (min-width: 1301px) {


  .contenedor {
    width: 55rem;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 2rem;
    padding: 0rem 3rem 2rem 0rem;
  }
  .contenedor-update{
    width: 55rem;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 2rem;
    padding: 0rem 3rem 2rem 0rem;
  }

  mat-dialog-container {
    border-radius: 2rem;
  }

  .nombreSeccion {
    font-size: 4rem;
    width: fit-content;
    display: flex;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
