<app-navbar></app-navbar>

<div class="body">
  <div class="row header">
    <div class="col-md-1" style="align-content: center">
      <div
        class="fa-solid fa-house btn-home"
        routerLink="/home"
        mat-raised-button
        matTooltip="Volver a la pantalla principal"
        matTooltipPosition="above"
      ></div>
    </div>
    <div class="col-md-8 nombreSeccion">Perfil de usuario</div>
  </div>

  <div
    class="row mt-4"
    style="justify-content: center; width: 60rem; gap: 2rem"
  >
    <div
      class="col-md-10 col-xs-12"
      [ngClass]="showInfo ? 'contenedor' : 'contenedor-update'"
    >
      <div class="row w-100">
        <div
          class="col-md-5 col-xs-12 mt-4"
          style="
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
          "
        >
          <div>
            <img
              src="../../../assets/img/MicrosoftTeams-image.png"
              alt="Imagen de usuario"
            />
          </div>
          <div class="mt-2">
            <button
              class="btn-change-img"
              type="button"
              mat-raised-button
              [ngClass]="showInfo ? 'btn-change-img ' : 'btn-update-info'"
              (click)="fileInput.click()"
              [textContent]="'Cambiar imagen de perfil'"
            ></button>
            <input
              hidden
              (change)="onFileSelected($event)"
              #fileInput
              type="file"
            />
          </div>
        </div>
        <div class="col-md-7 col-xs-12 mt-4" *ngIf="showInfo">
          <div [formGroup]="userForm">
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Nombre:</mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Apellidos:</mat-label>
                <input matInput type="text" formControlName="surname" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Nombre de usuario</mat-label>
                <input matInput type="text" formControlName="nickname" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Correo</mat-label>
                <input matInput type="text" formControlName="email" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Número de teléfono</mat-label>
                <input matInput type="text" formControlName="phone" />
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" style="padding-left: 0 !important">
              <button
                mat-raised-button
                class="btn-edit-info"
                (click)="editInfo()"
                type="submit"
                [textContent]="'Editar datos'"
              ></button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" style="padding-left: 0 !important">
              <button
                mat-raised-button
                class="btn-delete"
                (click)="deleteUser()"
                type="submit"
                [textContent]="'Eliminar cuenta'"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xs-12 mt-4" *ngIf="!showInfo">
          <div [formGroup]="editForm">
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Nombre:</mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Apellidos:</mat-label>
                <input matInput type="text" formControlName="surname" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Nombre de usuario</mat-label>
                <input matInput type="text" formControlName="nickname" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Correo</mat-label>
                <input matInput type="text" formControlName="email" />
              </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field
                class="example-form-field w-100"
                appearance="fill"
              >
                <mat-label>Número de teléfono</mat-label>
                <input matInput type="text" formControlName="phone" />
              </mat-form-field>
            </div>
            <div class="row mt-3">
              <div class="col-md-12" style="padding-left: 0 !important">
                <button
                  mat-raised-button
                  class="btn-update-info"
                  (click)="updateUserData()"
                  type="submit"
                  [textContent]="'Actualizar datos'"
                  (click)="showInfo = true"
                ></button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12" style="padding-left: 0 !important">
                <button
                  mat-raised-button
                  class="btn-cancel"
                  (click)="editInfo()"
                  type="submit"
                  [textContent]="'Cancelar'"
                  (click)="showInfo = true"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
