@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #131a29;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-home {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  width: fit-content;
  border-radius: 50%;
}
.btn-home:hover {
  background-color: #ebc752;
  color: #000000;
}

.gray-span {
  padding: 0.6rem;
  border-radius: 0.5rem;
  width: 30rem;
  background-color: #f5cf53;
}

img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.btn-change-img {
  background-color: #ffffff;
  &:hover {
    background-color: #ebc752;
  }
}

.btn-edit-info {
  background-color: #394357;
  color: #ffffff;
  &:hover {
    background-color: #131a29;
  }
}

.btn-update-info {
  background-color: #640b80;
  color: #ffffff;
}

.btn-delete {
  width: 30rem;
  background-color: rgb(207, 48, 48);
  color: white;
  &:hover{
    background-color: rgb(201, 7, 0);
  }
}

.example-form-field {
  padding-left: 0 !important;
}

/* Portátil */
@media screen and (max-width: 1300px) {
  .nombreSeccion {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    width: fit-content;
  }
  .contenedor {
    width: 90%;
  }
}

/* Pantalla grande */
@media screen and (min-width: 1301px) {
  .contenedor {
    width: 70%;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 2rem;
  }

  mat-dialog-container {
    border-radius: 2rem;
  }

  .nombreSeccion {
    font-size: 4rem;
    width: fit-content;
    display: flex;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
