

<div class="body">
    <div class="contenido">
      <div class="tittle">
        HammerLand
      </div>
  
      <div class="text">
        <div class="subtext">
          El lugar donde podrás <span style="color:#FAE8AF">encontrar</span><br>
          otros jugadores y <span style="color:#FAE8AF">compartir</span><br>
          tu contenido.
        </div>
        <div class="subtext">
          Empieza ya a descubrir lo que te<br>
          espera en <span style="color:#FAE8AF">HammerLand</span>
        </div>
      </div>
    </div>
  <div class="formulario"  id="formReg">
      <div class="formContainer"><span class="titleForm">Crear cuenta</span>
        <form action="" method="" class="loginForm" id="loginForm">
          <div class="row formFields">
            <div class="col-md-12">
              <label for="nombre"></label>
              <input type="text" id="nombre" name="nombre_usuario" placeholder="Nombre">
            </div>
          </div>
          <div class="row formFields">
            <div class="col-md-12">
              <label for="apellidos"></label>
              <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos">
            </div>
          </div>
          <div class="row formFields">
            <div class="col-md-12">
              <label for="email"></label>
              <input type="text" id="email" name="email" placeholder="Correo">
            </div>
          </div>
          <div class="row formFields">
            <div class="col-md-12">
              <label for="username"></label>
              <input type="text" id="username" name="username" placeholder="Username">
            </div>
          </div>
          <div class="row formFields">
            <div class="col-md-12">
              <label for="password"></label>
              <input type="password" id="password" name="password" placeholder="Password">
            </div>
          </div>
  
          <button type="submit" href="" value="Entrar" routerLink="/home">Crear usuario</button>
          <div class="question" >¿Ya estás registrado?<br>
            <a  href="/"> <span style="color:#FAE8AF">Inicia sesión desde aquí</span></a>
          </div>
        </form>
      </div>
    </div>
