.body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #131a29;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
}

.tittle {
  color: #ebc752;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-size: 4rem;
}
.input-class{
height: 3rem;

}
.tittle2{
    color: #ececea;
    font-size: 2rem;
    text-align: center;
}
.mat-form-field{
    border-radius: 10px;
    background-color: #ececea;
    margin: 1rem;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #131a29;
}


.text {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  height: fit-content;
  color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #ebc752;
}

.formulario{
    background-color: #131a29;
    box-shadow: 0px 0px 40px 5px #131A29;
    border-radius: 1rem;
}

@media screen and (max-width: 1300px) {
  .left-side {
    padding: 6rem;
  }
  .formR{
    padding: 7rem;
  }
}
@media screen and (min-width: 1300px) {
  .left-side {
    padding: 6rem;
  }
 .formR{
    padding: 13rem;
  }
  .tittle {
    font-size: 6rem;
  }
}
