@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:host {
  height: 100%;
  width: 100%;
  margin: 0;
}

.body {
  height: 100vh;
  margin: 0;
  width: 100%;
  background-color: #131a29;
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.tittle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 4rem;
  color: #ebc752;
}

.text{
    
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}

.text2{
    
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
}

.container{
    margin-top: 3rem;
    width: 20rem;
}
.btn-create-user{
    width: 100%;
    background-color:  #223255;;
    border: none;
    font-weight: 600;
    &:hover{
        background-color: #131a29;
    }
}
@media (max-width:1300px) {
  .question{
    margin-top: 2rem;
    text-align: center;
  }
    .tittle{
        margin-top: 8rem;
    }
    .form-title{
        margin-top: 4rem;
      }
      .text2{
       
        font-size: 2rem;
        font-weight: 600;
      }
      .form-title-log{
        margin-top: 10rem;
      }
.container{
    margin-top: 1rem;
    width: 20rem;
}
}
@media (min-width:1301px) {
    .tittle{
        margin-top: 14rem;
        font-size: 6rem;
    }
    .form-title{
margin-top: 14rem;
    }
    .text2{
        font-size: 3rem;
      }
      .form-title-log{
        margin-top: 15rem;
      }
      .question{
        margin-top:4rem; text-align: center;
      }
}